/* line 58, ../sass/style.scss */
body {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-attachment: fixed;
  color: floralwhite;
}

/* line 68, ../sass/style.scss */
p {
  text-shadow: -3px 3px rgba(0, 0, 0, 0.5), 1px 1px 1px rgba(0, 0, 0, 0.5), -1px 1px 1px rgba(0, 0, 0, 0.5), 1px -1px 1px rgba(0, 0, 0, 0.5), -1px -1px 1px rgba(0, 0, 0, 0.5);
}

/* line 71, ../sass/style.scss */
.container {
  margin-bottom: 50px;
}

/* line 74, ../sass/style.scss */
.navbar {
  background: linear-gradient(-45deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4) 10%, rgba(255, 255, 255, 0.1) 15%, rgba(61, 32, 99, 0.15) 20%, rgba(255, 255, 255, 0.2) 40%, rgba(255, 255, 255, 0.1) 50%, rgba(105, 208, 255, 0.15) 60%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0.2) 85%, rgba(255, 255, 255, 0));
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.2);
}

/* line 78, ../sass/style.scss */
.card-deck {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* line 82, ../sass/style.scss */
.shop .card {
  background: linear-gradient(-45deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4) 10%, rgba(255, 255, 255, 0.1) 15%, rgba(61, 32, 99, 0.15) 20%, rgba(255, 255, 255, 0.2) 40%, rgba(255, 255, 255, 0.1) 50%, rgba(105, 208, 255, 0.15) 60%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0.2) 85%, rgba(255, 255, 255, 0));
  position: relative;
  margin-top: 50px;
  border-radius: 25px;
  border-width: 4px;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3), -3px 3px 1px rgba(0, 0, 0, 0.2);
}
/* line 91, ../sass/style.scss */
.shop .card::before {
  box-shadow: inset 0 0 2px 1px #000, inset 0 0 5px 1px rgba(255, 255, 255, 0.3);
  content: "";
  position: absolute;
  width: calc(100% + 10px);
  margin-left: -5px;
  height: 20%;
  background-color: #fff;
  z-index: 5;
  border: 2px solid #464650;
  background-image: url("../img/metall-pat-005.jpg");
  top: -5px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 50%);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
/* line 98, ../sass/style.scss */
.shop .card::after {
  box-shadow: inset 0 0 2px 1px #000, inset 0 0 5px 1px rgba(255, 255, 255, 0.3);
  content: "";
  position: absolute;
  width: calc(100% + 10px);
  margin-left: -5px;
  height: 20%;
  background-color: #fff;
  z-index: 5;
  border: 2px solid #464650;
  background-image: url("../img/metall-pat-005.jpg");
  bottom: -5px;
  clip-path: polygon(0 0%, 100% 50%, 100% 100%, 0% 100%);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
/* line 106, ../sass/style.scss */
.shop .card .card-body {
  margin-bottom: 50px;
}
/* line 109, ../sass/style.scss */
.shop .card .card-body p {
  margin-bottom: 0;
}

/* line 114, ../sass/style.scss */
.wrapper-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

/* line 118, ../sass/style.scss */
.card-img-top {
  max-width: 70%;
  margin: 0 auto;
  filter: drop-shadow(-7px 6px 3px rgba(0, 0, 0, 0.3));
}

/* line 123, ../sass/style.scss */
.card-title {
  font-family: 'Kanit', sans-serif;
  text-align: center;
  text-transform: uppercase;
  text-shadow: -7px 7px 2px rgba(0, 0, 0, 0.3), 1px 1px 1px rgba(0, 0, 0, 0.5), -1px 1px 1px rgba(0, 0, 0, 0.5), 1px -1px 1px rgba(0, 0, 0, 0.5), -1px -1px 1px rgba(0, 0, 0, 0.5);
  font-size: 22px;
}

/* line 127, ../sass/style.scss */
.button-holder {
  display: flex;
  justify-content: flex-end;
}

/* line 131, ../sass/style.scss */
.cart {
  position: relative;
  cursor: pointer;
  transition-duration: 0.5s;
}
/* line 136, ../sass/style.scss */
.cart:hover {
  transform: scale(1.1);
}
/* line 140, ../sass/style.scss */
.cart:focus img, .cart:active img {
  filter: drop-shadow(1px 1px rgba(255, 255, 255, 0));
  transform: scale(0.9);
}
/* line 146, ../sass/style.scss */
.cart img {
  max-width: 50px;
  height: auto;
  margin-top: -30px;
  filter: drop-shadow(1px 1px rgba(255, 255, 255, 0.3));
}

/* line 153, ../sass/style.scss */
.details {
  position: absolute;
  width: 100%;
  bottom: 15px;
  text-align: center;
  cursor: pointer;
  z-index: 6;
}

/* line 161, ../sass/style.scss */
.shadow-for-holder {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  box-shadow: inset 0 -20px 20px -15px #000, inset 0 20px 20px -15px #000;
  transform: skewY(10deg) scaleY(0.73);
  pointer-events: none;
  z-index: 10;
}

/* line 168, ../sass/style.scss */
.backside {
  box-shadow: inset 0 0 2px 1px #000, inset 0 0 5px 1px rgba(255, 255, 255, 0.3);
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  padding: 1.25rem;
  background: linear-gradient(-82deg, #252527, #252527 40%, #2f2f31 41%);
  border-radius: 25px;
  border: 2px solid #464650;
  transition-delay: 1.2s;
}

/* line 178, ../sass/style.scss */
.change-view::before, .change-view::after {
  animation: closeHolders 3s forwards;
}

/* line 183, ../sass/style.scss */
.change-view-back::before, .change-view-back::after {
  animation: openHolders 3s forwards;
}

/* line 187, ../sass/style.scss */
.invisible {
  opacity: 0;
}

/* line 190, ../sass/style.scss */
.shopping {
  background: linear-gradient(-45deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4) 10%, rgba(255, 255, 255, 0.1) 15%, rgba(61, 32, 99, 0.15) 20%, rgba(255, 255, 255, 0.2) 40%, rgba(255, 255, 255, 0.1) 50%, rgba(105, 208, 255, 0.15) 60%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0.2) 85%, rgba(255, 255, 255, 0));
  box-shadow: inset 0 0 2px 1px #000, inset 0 0 5px 1px rgba(255, 255, 255, 0.3);
  margin-top: 50px;
  padding: 20px 12px;
  border-radius: 25px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), -1px 1px 1px rgba(0, 0, 0, 0.5), 1px -1px 1px rgba(0, 0, 0, 0.5), -1px -1px 1px rgba(0, 0, 0, 0.5);
}
/* line 198, ../sass/style.scss */
.shopping h1 {
  font-family: 'Kanit', sans-serif;
  text-align: center;
  text-transform: uppercase;
  text-shadow: -7px 7px 2px rgba(0, 0, 0, 0.3), 1px 1px 1px rgba(0, 0, 0, 0.5), -1px 1px 1px rgba(0, 0, 0, 0.5), 1px -1px 1px rgba(0, 0, 0, 0.5), -1px -1px 1px rgba(0, 0, 0, 0.5);
  font-size: 25px;
}
/* line 203, ../sass/style.scss */
.shopping hr {
  border-color: rgba(0, 0, 0, 0.3);
}

/* line 207, ../sass/style.scss */
.appearCart {
  animation: appearCart 0.7s;
}

/* line 210, ../sass/style.scss */
.disappearCart {
  animation: disappearCart 0.7s forwards;
}

/* line 213, ../sass/style.scss */
.item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 218, ../sass/style.scss */
.item-info > span:nth-child(1) {
  padding-right: 10px;
}
/* line 222, ../sass/style.scss */
.item-info .cost {
  display: inline;
}
/* line 225, ../sass/style.scss */
.item-info .cost img {
  height: 1em;
  margin-top: -0.2em;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.5);
}
/* line 230, ../sass/style.scss */
.item-info .cost img:active {
  box-shadow: 0 0 2px black;
}

/* line 236, ../sass/style.scss */
.shop .modal-content {
  background: linear-gradient(-45deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4) 10%, rgba(255, 255, 255, 0.1) 15%, rgba(61, 32, 99, 0.15) 20%, rgba(255, 255, 255, 0.2) 40%, rgba(255, 255, 255, 0.1) 50%, rgba(105, 208, 255, 0.15) 60%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0.2) 85%, rgba(255, 255, 255, 0));
  font-family: 'Kanit', sans-serif;
  text-align: center;
  text-transform: uppercase;
  text-shadow: -7px 7px 2px rgba(0, 0, 0, 0.3), 1px 1px 1px rgba(0, 0, 0, 0.5), -1px 1px 1px rgba(0, 0, 0, 0.5), 1px -1px 1px rgba(0, 0, 0, 0.5), -1px -1px 1px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
}
/* line 241, ../sass/style.scss */
.shop .modal-content .modal-title {
  margin-top: 25px;
}
/* line 245, ../sass/style.scss */
.shop .modal-content .close, .shop .modal-content .close:hover {
  color: floralwhite;
  font-size: 3rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), -1px 1px 1px rgba(0, 0, 0, 0.5), 1px -1px 1px rgba(0, 0, 0, 0.5), -1px -1px 1px rgba(0, 0, 0, 0.5);
  opacity: 1;
}
/* line 252, ../sass/style.scss */
.shop .modal-content button:focus {
  outline: none;
}

/* line 256, ../sass/style.scss */
.btn {
  background: linear-gradient(-45deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4) 10%, rgba(255, 255, 255, 0.1) 15%, rgba(61, 32, 99, 0.15) 20%, rgba(255, 255, 255, 0.2) 40%, rgba(255, 255, 255, 0.1) 50%, rgba(105, 208, 255, 0.15) 60%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0.2) 85%, rgba(255, 255, 255, 0));
  font-family: 'Kanit', sans-serif;
  text-align: center;
  text-transform: uppercase;
  text-shadow: -7px 7px 2px rgba(0, 0, 0, 0.3), 1px 1px 1px rgba(0, 0, 0, 0.5), -1px 1px 1px rgba(0, 0, 0, 0.5), 1px -1px 1px rgba(0, 0, 0, 0.5), -1px -1px 1px rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3), -3px 3px 1px rgba(0, 0, 0, 0.2);
  color: floralwhite;
}
/* line 263, ../sass/style.scss */
.btn:focus {
  outline: none;
  box-shadow: none;
}
/* line 267, ../sass/style.scss */
.btn:active {
  box-shadow: inset -5px 3px 5px rgba(0, 0, 0, 0.3), inset 5px -3px 3px rgba(255, 255, 255, 0.2);
}

/* line 271, ../sass/style.scss */
form {
  display: flex;
  flex-direction: column;
}
/* line 275, ../sass/style.scss */
form input {
  margin: 10px 0;
  padding: 5px;
}

/* line 280, ../sass/style.scss */
.shop .modal-footer {
  justify-content: flex-start;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  /* line 287, ../sass/style.scss */
  .shop {
    flex-direction: row-reverse;
  }

  /* line 290, ../sass/style.scss */
  .card-deck {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767.98px) {
  /* line 296, ../sass/style.scss */
  .shop {
    flex-direction: row-reverse;
  }

  /* line 299, ../sass/style.scss */
  .shop .card-deck {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 992px) {
  /* line 307, ../sass/style.scss */
  .shop aside {
    padding-right: 0;
    padding-left: 0;
  }

  /* line 311, ../sass/style.scss */
  .shopping {
    position: fixed;
  }
}
@keyframes closeHolders {
  0% {
    height: 20%;
  }
  50% {
    height: 69%;
  }
  90% {
    opacity: 1;
  }
  100% {
    height: 0%;
    opacity: 0;
  }
}
@keyframes openHolders {
  0% {
    height: 0%;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    height: 69%;
  }
  100% {
    height: 20%;
  }
}
@keyframes appearCart {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes disappearCart {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  100% {
    opacity: 0;
  }
}
