$textShadow: 1px 1px 1px rgba(0, 0, 0, 0.5),
			 -1px 1px 1px rgba(0, 0, 0, 0.5),
			 1px -1px 1px rgba(0, 0, 0, 0.5),
			 -1px -1px 1px rgba(0, 0, 0, 0.5);

@mixin flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}
@mixin fullSize($px) {
	position: absolute;
	top: $px;
	right: $px;
	bottom: $px;
	left: $px;	
}
@mixin glassGradient {
	background: linear-gradient(-45deg, 
	        rgba(255, 255, 255, 0),
	        rgba(255, 255, 255, 0.4) 10%,
	        rgba(255, 255, 255, 0.1) 15%,
	        rgba(61, 32, 99, 0.15) 20%,
	        rgba(255, 255, 255, 0.2) 40%,
	        rgba(255, 255, 255, 0.1) 50%,
	        rgba(105, 208, 255, 0.15) 60%,
	        rgba(255, 255, 255, 0.5) 75%,
	        rgba(255, 255, 255, 0.2) 85%,
	        rgba(255, 255, 255, 0));
}
@mixin hText {
	font: {
		family: 'Kanit', sans-serif;
	}
	text: {
		align: center;
		transform: uppercase;
		shadow: -7px 7px 2px rgba(0, 0, 0, 0.3), $textShadow;
	}
}
@mixin innerShadow {
	box-shadow: inset 0 0 2px 1px #000,
				inset 0 0 5px 1px rgba(255, 255, 255, 0.3);
}
@mixin metallHolders {	
	@include innerShadow;
	content: "";
	position: absolute;
	width: calc(100% + 10px);
	margin-left: -5px;
	height: 20%;
	background-color: #fff;
	z-index: 5;
	border: 2px solid rgb(70, 70, 80);
	//background-image: url('http://365psd.ru/images/backgrounds/skull.jpg');
	background-image: url('http://365psd.ru/images/backgrounds/metall-pat-005.jpg');
}


body {
	background: {
        image: url('../img/bg.jpg');
        repeat: no-repeat;
        size: cover;
        position-x: center;
        attachment: fixed;
    }
    color: floralwhite;
}
p {
	text-shadow: -3px 3px rgba(0, 0, 0, 0.5), $textShadow;
}
.container {
	margin-bottom: 50px;
}
.navbar {
	@include glassGradient;
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.2);
}
.card-deck {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.shop .card {
	@include glassGradient;
	position: relative;
	margin-top: 50px;
	border-radius: 25px;
	border-width: 4px;
	box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3),
				-3px 3px 1px rgba(0, 0, 0, 0.2);

	&::before {
		@include metallHolders;
		top: -5px;
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 50%);
		border-top-left-radius: 25px;
		border-top-right-radius: 25px;
	}
	&::after {
		@include metallHolders;
		bottom: -5px;
		clip-path: polygon(0 0%, 100% 50%, 100% 100%, 0% 100%);
		border-bottom-left-radius: 25px;
		border-bottom-right-radius: 25px;
	}

	.card-body {
		margin-bottom: 50px;

		p {
			margin-bottom: 0;
		}
	}

	&:nth-of-type(6) .wrapper-img {
	    transform: scaleY(0.8);
	}
}
.wrapper-img {
	@include flexCenter;
	margin-top: 40px;
}
.card-img-top {
	max-width: 70%;
	margin: 0 auto;
    filter: drop-shadow(-7px 6px 3px rgba(0, 0, 0, 0.3));
}
.card-title {
	@include hText;
	font-size: 22px;
}
.button-holder {
	display: flex;
	justify-content: flex-end;
}
.cart {
	position: relative;
	cursor: pointer;
	transition-duration: 0.5s;

    &:hover {
		transform: scale(1.1);
    }
    &:focus, &:active {
    	img {
			filter: drop-shadow(1px 1px rgba(255, 255, 255, 0.0));
			transform: scale(0.9);
    	}
    }

	img {
	max-width: 50px;
	height: auto;	
	margin-top: -30px;
    filter: drop-shadow(1px 1px rgba(255, 255, 255, 0.3));
	}
}
.details {
	position: absolute;
	width: 100%;
	bottom: 15px;
	text-align: center;
	cursor: pointer;
	z-index: 6;
}
.shadow-for-holder {
	@include fullSize(0px);
	box-shadow: inset 0 -20px 20px -15px #000, inset 0 20px 20px -15px #000;
    transform: skewY(10deg) scaleY(0.73);
    pointer-events: none;
    z-index: 10;
}
.backside {
	@include innerShadow;
	@include fullSize(-5px);
    padding: 1.25rem;
	background: linear-gradient(-82deg, #252527, #252527 40%, #2f2f31 41%);
	border-radius: 25px;
	border: 2px solid rgb(70, 70, 80);
	transition-delay: 1.2s;
}

.change-view {
	&::before, &::after {
		animation: closeHolders 3s forwards;
	}
}
.change-view-back {
	&::before, &::after {
		animation: openHolders 3s forwards;
	}
}
.invisible {
	opacity: 0;
}

.shopping {
	@include glassGradient;
	@include innerShadow;
	margin-top: 50px;
	padding: 20px 12px;
	border-radius: 25px;
	text-shadow: $textShadow;

	h1 {
		@include hText;
		font-size: 25px;
	}

	hr {
		border-color: rgba(0, 0, 0, 0.3);
	}
}
.appearCart {
	animation: appearCart 0.7s; //name duration timing-function delay iteration-count direction fill-mode;
}
.disappearCart {
	animation: disappearCart 0.7s forwards;//name duration timing-function delay iteration-count direction fill-mode;
}
.item-info {
	display: flex;
    justify-content: space-between;
    align-items: center;

    & > span:nth-child(1) {
    	padding-right: 10px;
    }

    .cost {
    	display: inline;

    	img {
    		height: 1em;
   		    margin-top: -0.2em;
   		    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.5);

   		    &:active {
   		    	box-shadow: 0 0 2px rgba(0, 0, 0, 1);
   		    }
    	}
    }
}

.shop .modal-content {
	@include glassGradient;
	@include hText;
	border-radius: 25px;

	.modal-title {
		margin-top: 25px;
	}

	.close, .close:hover {
		color: floralwhite;
		font-size: 3rem;
		text-shadow: $textShadow;
		opacity: 1;
	}

	button:focus {
		outline: none;
	}
}

.btn {
	@include glassGradient;
	@include hText;
	border-radius: 50px;
	box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3), -3px 3px 1px rgba(0, 0, 0, 0.2);
	color: floralwhite;

	&:focus{
		outline: none;
		box-shadow: none;
	}
	&:active {
		box-shadow: inset -5px 3px 5px rgba(0, 0, 0, 0.3), inset 5px -3px 3px rgba(255, 255, 255, 0.2);
	}
}

form {
	display: flex;
    flex-direction: column;

    input {
    	margin: 10px 0;
    	padding: 5px;
    }
}
.shop .modal-footer {
	justify-content: flex-start;
}


//MEDIA QUERIES
@media (min-width: 768px) and (max-width: 991.98px) {
	.shop {
		flex-direction: row-reverse;
	}
	.card-deck {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 767.98px) {
	.shop {
		flex-direction: row-reverse;
	}
	.shop .card-deck {
		display: flex;
		flex-direction: column;
	}

}

@media (min-width: 992px) {
	.shop aside {
		padding-right: 0;
		padding-left: 0;
	}
	.shopping {
		position: fixed;
	}
}

//KEYFRAMES: ;
@keyframes closeHolders {
	0% {
		height: 20%;
	}
	50% {
		height: 69%;
	}
	90% {
		opacity: 1;
	}
	100% {
		height: 0%;
		opacity: 0;
	}
}

@keyframes openHolders {
	0% {
		height: 0%;
		opacity: 0;
	}
	10% {
		opacity: 1;
	}
	50% {
		height: 69%;
	}
	100% {
		height: 20%;
	}
}

@keyframes appearCart {
	0% {
		opacity: 0;
		transform: scale3d(0.3, 0.3, 0.3);
	}
	50% {
		opacity: 1;
	}
}

@keyframes disappearCart {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
		transform: scale3d(0.3, 0.3, 0.3);
	}
	100% {
		opacity: 0;
	}
}